@model WebApplication1.ViewModels.MembersChangePasswordViewModel

@{
    ViewBag.Title = "修改密碼";
}
@*匯入驗證所需的JavaScript*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*標題*@
<div class="page-header">
    <h1>修改密碼<small>@ViewData["ChangeState"]</small></h1>
</div>
<div class="form-horizontal">
    @*建立修改密碼所須的表單*@
    @using (Html.BeginForm())
    {
        @*輸出表單驗證失敗時的錯誤訊息*@
        <div class="alert alert-warning">
            @Html.ValidationSummary()
        </div>
        @*產生修改密碼表單內容*@
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "col-xs-4 col-md-1 form-label" })
            <div class="col-xs-8 col-md-11">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, new { @class = "col-xs-4 col-md-1 form-label" })
            <div class="col-xs-8 col-md-11">
                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NewPasswordCheck, new { @class = "col-xs-4 col-md-1 form-label" })
            <div class="col-xs-8 col-md-11">
                @Html.PasswordFor(model => model.NewPasswordCheck, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewPasswordCheck, null, new { @class = "label label-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input class="btn btn-primary" type="submit" value="修改密碼" />
            </div>
        </div>
    }
</div>